
.footer-section {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
 }
footer {
    padding-top:20px;
    border-top:10px solid #332e20;
    background-color:danger;
}
.address{
text-align:right;
}
.copyright{
text-align:center;
}